<app-navbar></app-navbar>

<body>
    <div class="container-fluid">
        <div class="row mt-0">
            <div class="col-1 mt-2">
                <small class="d-block">Crear rol</small>
                <button (click)="openDialogJobRoleCreate(jobRoleCreateTemplate)" class="btn btn-md ms-3">R</button>
            </div>
           
            <div class="col-1 mt-2">
                <small class="d-block">Crear quincena</small>
                <button (click)="openDialogEmployeeCreate(employeeCreateTemplate)"
                    class="btn btn-md ms-3">Q</button>
            </div>
            <div class="col-1 mt-2">
                <small class="d-block">Crear deducciones</small>
                <button (click)="openDialogJobRoleCreate(jobRoleCreateTemplate)" class="btn btn-md ms-3">D</button>
            </div>
            <div class="col-4 mt-2"></div>
           
           
            <div class="col-1 mt-2">
                <small class="d-block">Crear empleado</small>
                <button (click)="openDialogEmployeeCreate(employeeCreateTemplate)"
                    class="btn btn-md ms-3">E</button>
            </div>
            <div class="col-1 mt-2">
                <small class="d-block">Crear rol de trabajo</small>
                <button (click)="openDialogJobRoleCreate(jobRoleCreateTemplate)" class="btn btn-md ms-3">-</button>
            </div>
            <p class="lead">
                <hr class="my-4">

        </div>
        <div class="row mt-5">
            <div *ngIf="jobRoles.length===0" class="col-1">
                <div class="mt-5">
                    <div class="jumbotron">
                        <p class="mt-1">Todavia no has creado ningun rol de trabajo</p>
                        <p class="lead">
                            <hr class="my-4">


                    </div>
                </div>
            </div>
            <div class="col-4">

                <div *ngIf="jobRoles.length>0">
                    <h2 class="text-center">Roles</h2>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Rol</th>
                                <th scope="col">Hora</th>
                                <th scope="col">Hora extra al 50%</th>
                                <th scope="col">Hora extra al 100%</th>
                                <th scope="col">Premio</th>
                                <th scope="col">Vacaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let job of jobRoles">
                                <td>{{job.role}}</td>
                                <td>{{job.payHour}}</td>
                                <td>{{job.payExtraHour50}}</td>
                                <td>{{job.payExtraHour100}}</td>
                                <td>{{job.prize}}</td>
                                <td>{{job.holiday}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-3"></div>
            <div *ngIf="employees.length===0" class="col-1 ms-5">
                <div class="mt-5 ms-3">
                    <div class="jumbotron">
                        <p class="mt-1">Todavia no has creado ningun empleado</p>
                        <p class="lead">
                            <hr class="my-4">


                    </div>
                </div>
            </div>
            <div class="col-4">

                <div *ngIf="employees.length>0">
                    <h2 class="text-center">Empleados</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Telefono</th>
                                <th scope="col">Email</th>
                                <th scope="col">D.N.I</th>
                                <th scope="col">Rol</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let emp of employees">
                                <td>{{emp.name}}</td>
                                <td>{{emp.lastname}}</td>
                                <td>{{emp.phone}}</td>
                                <td>{{emp.email}}</td>
                                <td>{{emp.dni}}</td>
                                <td>{{emp.jobRole}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<ng-template #jobRoleCreateTemplate>
    <div class="container-flex">
        <div class="row">
            <div class="col-10">
                <form [formGroup]="jobRoleFormBuilder">

                    <div class="form-group ">
                        <label for="role" class=" form-label ">Rol</label>

                        <input class="form-control border-dark" type="text" formControlName="role" id="role">
                        <div *ngIf="role.invalid && (role.dirty || role.touched)" class="text-danger">
                            <div *ngIf="role.errors?.['required']">
                                Falta el rol...
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="payHour" class=" form-label ">Sueldo por hora</label>
                        <input class="form-control border-dark" type="text" formControlName="payHour" id="payHour">
                        <div *ngIf="payHour.invalid && (payHour.dirty || payHour.touched)" class="text-danger">
                            <div *ngIf="payHour.errors?.['required']">
                                Falta sueldo por hora...
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="payExtraHour50" class=" form-label ">Hora extra al 50%</label>
                        <input class="form-control border-dark" type="number" formControlName="payExtraHour50"
                            id="payExtraHour50">
                        <div *ngIf="payExtraHour50.invalid && (payExtraHour50.dirty || payExtraHour50.touched)"
                            class="text-danger">
                            <div *ngIf="payExtraHour50.errors?.['required']">
                                Falta la hora extra al 50%
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="payExtraHour100" class=" form-label">Hora extra al 100%</label>
                        <input class="form-control border-dark" type="number" formControlName="payExtraHour100"
                            id="payExtraHour100">
                        <div *ngIf="payExtraHour100.invalid && (payExtraHour100.dirty || payExtraHour100.touched)"
                            class="text-danger">
                            <div *ngIf="payExtraHour100.errors?.['required']">
                                Falta la hora extra al 100%
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="prize" class=" form-label">Premio</label>
                        <input class="form-control border-dark" type="number" formControlName="prize" id="prize">
                        <div *ngIf="prize.invalid && (prize.dirty || prize.touched)" class="text-danger">
                            <div *ngIf="prize.errors?.['required']">
                                Falta el premio...
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="holiday" class=" form-label  ">Vacaciones</label>
                        <input class="form-control border-dark" type="number" formControlName="holiday" id="holiday">
                        <div *ngIf="holiday.invalid && (holiday.dirty || holiday.touched)" class="text-danger">
                            <div *ngIf="holiday.errors?.['required']">
                                Faltan las vacaciones...
                            </div>
                        </div>
                        <button (click)="createJobRole()" class="btn mt-2">Guardar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</ng-template>

<ng-template #employeeCreateTemplate>
    <div class="row">
        <div class="col-10">
            <form [formGroup]="employeeFormBuilder">

                <div class="form-group">
                    <label for="name" class=" form-label ">Nombre</label>
                    <small class="text-danger ms-3">(Obligatorio)</small>
                    <input class="form-control border-dark" type="text" formControlName="name" id="name">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                        <div *ngIf="name.errors?.['required']">
                            Falta el nombre...
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class=" form-label ">Apellido</label>
                    <small class="text-danger ms-3">(Obligatorio)</small>
                    <input class="form-control border-dark" type="text" formControlName="lastname" id="lastname">
                    <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="text-danger">
                        <div *ngIf="lastname.errors?.['required']">
                            Falta el apellido...
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class=" form-label ">Telefono</label>
                    <small class="text-danger ms-3">(Obligatorio)</small>
                    <input class="form-control border-dark" type="text" formControlName="phone" id="phone">
                    <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="text-danger">
                        <div *ngIf="phone.errors?.['required']">
                            Falta el telefono...
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class=" form-label ">Email</label>
                    <small class="text-danger ms-3">(Obligatorio)</small>
                    <input class="form-control border-dark" type="email" formControlName="email" id="email">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                        <div *ngIf="email.errors?.['required']">
                            Falta el mail...
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dni" class=" form-label ">DNI</label>
                    <small class="text-danger ms-3">(Obligatorio)</small>
                    <input class="form-control border-dark" type="text" formControlName="dni" id="dni">
                    <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="text-danger">
                        <div *ngIf="dni.errors?.['required']">
                            Falta el dni...
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Seleccione un rol de trabajo</label>
                    <select id="jobRoleId" formControlName="jobRoleId" class="form-select border-dark mt-1">
                        <option class="form-control" *ngFor="let jobRole of jobRoles" id="jobRoleId"
                            [value]="jobRole.id">
                            {{jobRole.role}}</option>
                        <div *ngIf="jobRoleId.invalid && (jobRoleId.dirty || jobRoleId.touched)" class="text-danger">
                            <div *ngIf="jobRoleId.errors?.['required']">
                                Debes seleccionar un rol
                            </div>

                            <div class="mt-1" *ngIf="jobRoleId.errors?.['errors']">
                                Debe seleccion un rol
                            </div>
                        </div>
                    </select>
                    <button (click)="createEmployee()" class="btn mt-2">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>